@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover-a: #272727;
    --cor-hover-b: blue;

    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;  /* É importante tirar margem e padding para mexer com mais facilidade  */
    padding: 0;
}

body {
    /*height: 100vh; deixa a tela responsiva para outros aparelhos */
    box-sizing: border-box; /*Permite que nenhum elemento "saia" da tela*/
    background-color: var(--cor-primaria);
    color: #F6F6F6;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 4% 15%;
    display: flex; /*Disposição da página: FlexBox*/
    align-items: center; /*Alinha os elementos no centro dos próprios elementos*/
    justify-content: space-between; /*Cria um espaçamento entre os elementos da minha página*/
    gap: 82px;
}

.apresentacao__conteudo {
    width: 49%; /*largura do section*/
    display: flex;
    flex-direction: column; /*Alinha a disposição dos elementos filho na vertical*/
    gap: 40px; /*Define o espaçamento entre os elementos filhos*/
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem; /*Tamanho da fonte do título*/
    font-family: var(--fonte-principal); /*O tipo da fonte*/
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.titulo-destaque:hover {
    color: var(--cor-hover-b);
    cursor: default;
}

.apresentacao__conteudo__texto {
    font-size: 1.44rem; /*Tamanho da fonte do texto*/
    font-family: var(--fonte-secundaria); /*O tipo da fonte*/
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 45%; /*Largura dos botões*/
    text-align: center; /*Alinhamento central do texto no botão*/
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px; /*Tamanho do raio do botão*/
    font-size: 1.5rem; /*tamanho da fonte*/
    font-weight: 600; /*Peso da fonte*/
    padding: 21.5px 0; /*Definiu padding vertical e em seguida horizontal*/
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__botao:hover {
    background-color: var(--cor-hover-a);
}

.apresentacao__imagem {
    width: 45%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}